@layout.layout({title:'Edit Kuota Cuti'})

  @slot('meta')
    <meta name="description" content="Dashboard page for Human Capital Management System" />
  @endslot
  <main class="flex-grow-1 p-3 p-lg-4">
    <h1>
      Edit Kuota Cuti
    </h1>
  </main>
@endslot
@end
