@layout.layout({title:'Edit Pengajuan Izin'})
  @slot('meta')
    <meta name="description" content="Dashboard page for Human Capital Management System" />
  @endslot
  @slot('main')
    <main class="flex-grow-1 p-3 p-lg-4">
      <h1>
        Edit Pengajuan Izin
      </h1>
    </main>
  @endslot
@end
