@layout.layout({title:'Edit Pengajuan Cuti'})

  @slot('meta')
    <meta name="description" content="Dashboard page for Human Capital Management System" />
  @endslot
  <main class="flex-grow-1">
    <h1>
      Edit Pengajuan Cuti
    </h1>
  </main>
  @include('components/pegawai-edit-styles')
    @endslot
  @end
