@layout.layout({title:'Edit Riwayat Cuti'})

  @slot('meta')
    <meta name="description" content="Dashboard page for Human Capital Management System" />
    <script src="https://cdn.tailwindcss.com"></script>
  @endslot
  @slot('main')

    <main class="flex-grow-1">
      <h1>
        Edit Riwayat Cuti
      </h1>
    </main>
    @include('components/pegawai-edit-styles')
      @endslot
    @end
